{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Portal Login</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'web_portal/assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'web_portal/assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			<header id="header">
				<div class="inner">
					<!-- Logo -->
					<a href="" class="logo">
						<span class="symbol"><img src="{% static 'web_portal/images/triangle_logo.jpg' %}" alt="" /></span><span class="title">Web Portal</span>
					</a>
				</div>
			</header>

			<!-- Main -->
			<div id="main">
				<div class="inner">
					<section>
						<form id="login_form" method="post" action="{% url 'login' %}">
							{% csrf_token %}
							<div class="fields">
								<div class="field">
									<input type="text" name="email" id="email" placeholder="Email" value="{{ email }}">
								</div>
								<div class="field">
									<input type="password" name="password" id="password" placeholder="Password" value="{{ password }}">
								</div>
							</div>
							<ul class="actions stacked">
								<p>{{ error }}</p>
								<li><input type="submit" value="Login" class="button primary fit" /></li>
							</ul>
						</form>
					</section>
				</div>
				<div class="inner">
					<section>
						<button type="submit" class="registerbtn">Contact Us</button>
					</section>
				</div>
			</div>

			<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<section>
						<h2>Follow</h2>
						<ul class="icons">
							<li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
							<li><a href="#" class="icon brands style2 fa-500px"><span class="label">500px</span></a></li>
							<li><a href="#" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li>
							<li><a href="#" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
						</ul>
					</section>
					<ul class="copyright">
						<li>&copy; Hello World LLC. All rights reserved</li>
					</ul>
				</div>
			</footer>
		</div>

	</body>
</html>
