{% extends 'web_portal/base_generic.html' %}

{% load static %}

{% block content %}

	<!-- Main -->
		<div id="main">
			<div class="inner">
				<h1>{{ context.page_title }}</h1>
				<span class="image main"><img src="images/pic13.jpg" alt="" /></span>
				<table>
					<tr>
						<th>ID</th>
						<th>Fistname</th>
						<th>Lastname</th>
						<th>Email</th>
					</tr>
					{% for obj in context.account_model %}
					<tr>
						<td>{{ obj.id }}</td>
						<td>{{ obj.firstname }}</td>
						<td>{{ obj.lastname }}</td>
						<td>{{ obj.email }}</td>
					</tr>
					{% endfor %}
				</table>
				<button><a href="{% url 'create_user' %}">Add New User</a></button>
			</div>
		</div>

{% endblock %}
