{% extends 'web_portal/base_generic.html' %}

{% load static %}

{% block content %}

	<!-- Main -->
		<div id="main">
			<div class="inner">
				<h1>{{ context.page_title }}</h1>
				<span class="image main"><img src="images/pic13.jpg" alt="" /></span>
				<table>
					<tr>
						<th>Ref ID</th>
						<th>Date</th>
						<th>User</th>
						<th>Email</th>
						<th>Canceled</th>
						<th></th>
					</tr>
					{% for obj in context.schedules %}
					<tr>
						<td>{{ obj.id }}</td>
						<td>{{ obj.schedule_date }}</td>
						<td>{{ obj.user.firstname}} {{ obj.user.lastname }}</td>
						<td>{{ obj.user.email }}</td>
						<td>{{ obj.canceled }}</td>
						<td><a href="{% url 'detail_schedule' obj.id %}">View Detail </a></td>
					</tr>
					{% endfor %}
				</table>
				<button><a href="{% url 'create_schedule' %}">Add New Schedule</a></button>
			</div>
		</div>

{% endblock %}
