{% extends 'web_portal/base_generic.html' %}

{% load static %}

{% block content %}


			<!-- Main -->
			<div id="main">
				<div class="inner">
					<h1>Create New Schedule</h1>

					<!-- Signup Form -->
					<section>
						<form id="create_schedule" method="post" action="{% url 'create_schedule' %}">
							{% csrf_token %}
							<div class="fields">
								<div class="field">
                                    <label for="schedule_date">Choose a time for your pickup:</label>
									<input required type="text" name="schedule_date" id="id_schedule_date" placeholder="schedule_date"/>

									<label for="address">Pickup Address:</label>
									<input required type="text" name="address" id="id_address" placeholder="address"/>

									<label for="filedata">Uploaded File:</label>
									<input type="file" id="myFile" name="filename">
									<input type="submit">
								</div>
							</div>
							{{ context.errors }}
							<ul class="actions">
								<li><input type="submit" value="Create" class="primary" id="signupBtn" /></li>
							</ul>
						</form>
					</section>
				</div>
			</div>

			<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="copyright">
						<li>&copy; Ctrl-layer. All rights reserved</li>
					</ul>
				</div>
			</footer>
		</div>

{% endblock %}
