{% extends 'web_portal/base_generic.html' %}

{% load static %}

{% block content %}

	<!-- Main -->
		<div id="main">
			<div class="inner">
				<h1>{{ context.page_title }}</h1>
				<span class="image main"><img src="images/pic13.jpg" alt="" /></span>
                <form>
                <div class="form-group">
                    <label for="schedule_id">Ref ID:</label>
                    <input disabled type="text" id="schedule_id" name="schedule_id" 
                    value="{{ schedule.id}}">
                    <label for="name">Requester:</label>
                    <input disabled type="text" id="name" name="name" value="{{ schedule.user.firstname }} {{ schedule.user.lastname}}">
					<label for="address">Address:</label>
					<input disabled type="text" id="address" name="address" value="{{ schedule.address }}">
                    <label for="email">Email:</label>
                    <input disabled type="text" id="email" name="email" value="{{ schedule.user.email }}">
                    <label for="date">Date Schedule:</label>
                    <input type="text" id="date" name="date" value="{{ schedule.schedule_date }}"><br>
                </div>
                </form>
				<form method="post" action="{% url 'detail_schedule' pk=schedule.id%}">
					{% csrf_token %}
					<input type="submit" value="Delete Schedule">
				</form>
			</div>
		</div>

{% endblock %}
