{% extends 'web_portal/base_generic.html' %}

{% load static %}

{% block content %}

	<!-- Main -->
	<div id="main">
		<div class="inner">
			<header>
				<h1>Ctrl-Layer Portal</h1>
				<p>Welcome {{ context.firstname }} {{ context.lastname }}</p>
			</header>
			<section class="tiles">
				<!-- Admin cards -->
				{% if context.is_ctrl_admin %}
				<article class="style1">
					<span class="image">
						<img src="{% static 'web_portal/images/pic01.jpg' %}" alt="" />
					</span>
					<a href="generic.html">
						<h2>Admin</h2>
						<div class="content">
							<p>Admin Portal</p>
						</div>
					</a>
				</article>
				{% endif %}

				<!-- Generic Cards for end users -->
				<article class="style2">
					<span class="image">
						<img src="{% static 'web_portal/images/pic02.jpg' %}"  alt="" />
					</span>
					<a href="{% url 'generic' %}">
						<h2>Decom</h2>
						<div class="content">
							<p>Decommisioned Asset / Decommisioned Document</p>
						</div>
					</a>
				</article>
				<article class="style3">
					<span class="image">
						<img src="{% static 'web_portal/images/pic03.jpg' %}" alt="" />
					</span>
					<a href="{% url 'generic' %}">
						<h2>Contact Us</h2>
						<div class="content">
							<p>Create a ticket or report an issue</p>
						</div>
					</a>
				</article>
				<article class="style4">
					<span class="image">
						<img src="{% static 'web_portal/images/pic04.jpg' %}" alt="" />
					</span>
					<a href="{% url 'userslist' %}">
						<h2>User List</h2>
						<div class="content">
							<p>List of users</p>
						</div>
					</a>
				</article>
			</section>
		</div>
	</div>

{% endblock %}
