{% extends 'web_portal/base_generic.html' %}

{% load static %}

{% block content %}

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Create New Account</h1>

						<!-- Signup Form -->
                            <section>
								<form id="signup_form" method="post" action="{% url 'signup' %}">
									{% csrf_token %}
									<div class="fields">
										<div class="field">
											<input required type="email" name="email" id="id_email" placeholder="Email"/>
										</div>
										<div class="field half">
											<input required type="text" name="firstname" id="id_firstname" placeholder="First Name"/>
                                        </div>
                                        <div class="field half">
											<input required type="text" name="lastname" id="id_lastname" placeholder="Last Name"/>
										</div>
										<div class="field half">
											<input class="password_field" required type="password" name="password1" id="id_password1" placeholder="Password"/>
										</div>
										<div class="field half">
											<input class="password_field" required type="password" name="password2" id="id_password2" placeholder="Confirm Password" />
										</div>
									</div>
									{{ context.errors }}
									<ul class="actions">
										<li><input type="submit" value="Create" class="primary" id="signupBtn"  disabled/></li>
									</ul>
								</form>
							</section>
							<!-- Create Success message
							<section>
								<a name="CreateSucessful"></a>
								<div>
									<h1>Created Successfully</h1>
								</div>
							</section>
							 -->
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="copyright">
								<li>&copy; Ctrl-layer. All rights reserved</li>
							</ul>
						</div>
					</footer>
			</div>

{% endblock %}
